.card.horizontal a{
    display: flex;
    align-items: center;
    padding: 0 7px;
}
.card-count{
    font-size: 2.2rem;
    padding-right: 7px;
}
.card-stacked{
    border-left: 1px solid #ccc;
}
.card .card-content{
    padding: 15px;
    color: #000;
}
